<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% if title %}
		<title>{{ title }} - Adam Ashcraft</title>
		{% else %}
		<title>Adam Ashcraft</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0'"> 
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Ubuntu+Mono&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="main-nav">
			<ul class="nav">
				<li class="name">Adam Ashcraft</li>
				<li><a href="{{ url_for('main.index') }}">Home</a></li>
				<div class="dropdown">
					<li><a href="#">Projects</a></li>
						<div class="dropdown-content">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a>
							<a href="#">Link 3</a>
						</div>
					</li>
				</div>
				
			</ul>
		</div>
		<header class="main-header">
			<img src="{{ url_for('static', filename='images/spaceman_spiff.jpg')}}" alt="Spaceman Spiff" class="profile-image">
			<h1 class="tag name">Adam Ashcraft</h1>
			<p class="tag title">Systems Administrator</p>
		</header>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
		<footer class="main-footer">
			<ul>
				<li><a href="https://www.linkedin.com/in/adamashcraft/" class="social linkedin">LinkedIn</a></li>
				<li><a href="https://github.com/apashcraft" class="social github">Github</a></li>
			</ul>
			<p class="copyright">&copy;2019 Adam Ashcraft</p>
		</footer>
	</body>
</html>