{% extends "base.html" %}

{% block content %}
	<main class="flex">
		<div class="card">
			<h2 class="card-title">Welcome!</h2>
			<p>Hi, my name is Adam Ashcraft. Welcome to my portfolio and home lab!. Here I will provide various web apps and other fun things I build on my journey.</p>
			<p>My home lab consists of an old gaming PC turned Proxmox host containing an i7 4770k (8 CPUs @ 4GHz each), 24GBs of RAM, and a GeForce GTX 970. This site, adam ashcraft.com, exists on a Flask app and Gunicorn web server, behind an Nginx reverse proxy and pfSense virtual router.</p>
			<p>Feel free to check out my GitHub or LinkedIn profiles below!</p>
		</div>
	</main>
{% endblock %}

